<section>
    <div class="main-div">
        <div class="container-fluid">
            <div class="header-nav">
                <ul class="ul-list-items">
                    <li>
                        <h4>Brainwave.io</h4>
                    </li>
                    <li>Demos</li>
                    <li>pages</li>
                    <li>Support</li>
                    <li><a style="color: #212529;text-decoration: none;" href="/contact"> Contact</a></li>
                    <div class="button-container">
                        <button class="btn btn-primary">Get Started a project</button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-left">
                    <div class="col-sm-9">
                        <div class="start-text">LET’S SHIFT YOUR BUSINESS</div>
                        <h1>Shift your business fast with shade pro.</h1>
                        <p class="para-tag">With lots of unique blocks, you can easily build a page without coding.
                            Build your next
                            consultancy
                            website
                            within few minutes.</p>
                        <button class="btn btn-primary btn-class">Get started a project</button>
                    </div>
                </div>
                <div class="col-sm-6 image-align">
                    <img src="assets/Image.png" alt="Image Preview">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="second-main-div">
        <div class="container sec-contents">
            <P style="color: #F64B4B;">OUR SERVICES</P>
            <h1>We provide great services for our</h1>
            <h1> customers based on needs</h1>
            <div class="card-main-div">
                <div class="card-design" style="background-color: #68D585;">
                    <img class="img" src="assets/Designer-rafiki.png" alt="designer" />
                    <h4>Graphic Design</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                    <div>Learn more <i class="material-icons">arrow_forward</i></div>
                </div>
                <div class="card-design" style="background-color: #473BF0;">
                    <img class="img" src="assets/Programming-rafiki.png" alt="designer" />
                    <h4>Web Developement</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                    <div>Learn more <i class="material-icons">arrow_forward</i></div>
                </div>
                <div class="card-design" style="background-color: #F64B4B;">
                    <img class="img" src="assets/Notes-rafiki.png" alt="designer" />
                    <h4>Content Writing</h4>
                    <p>With lots of unique blocks, you can easily build a page without coding. Build your next landing
                        page.</p>
                    <div>Learn more <i class="material-icons">arrow_forward</i></div>
                    <img class="image-absolute" src="assets/Group 101.png" />
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="image-bt-text">
        <div class="col-sm-8 img-contain">
            <img src="assets/Oval.png" alt="">
            <div>
                <img src="assets/Stars.png" alt="" style="margin-bottom: 20px;">
                <p>“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super
                    easy to
                    edit and publish.”</p>
                <b>Franklin Hicks</b>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="third-main-div">
        <div class="container" style="margin-top: 5%;">
            <div class="header">
                <h2 style="color: red;">Our Story</h2>
                <h1 style="max-width: 52%;">We know how everything works and why your business is failing over and over
                    again.
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6" style="margin-top: 8%;">
                    <img src="assets/1.png" alt="">
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6" style="position: relative;">
                            <img src="assets/2.png" alt="">
                            <img class="image-dot" src="assets/Fill 1.png" alt="">
                        </div>
                        <div class="col-md-6 adjust-image">
                            <img src="assets/3.png" alt="">
                        </div>
                    </div>
                    <p style="margin-top: 20%; max-width: 80%;">We share common trends and strategies for improving your
                        rental
                        income and making sure you stay in high
                        demand. With lots of unique blocks, you can easily build a page without coding. Build your next
                        landing
                        page.</p>
                </div>
            </div>
            <div class="stats">
                <div>
                    <h3>1M+</h3>
                    <p>Customers visit Omega every month to get their service done.</p>
                </div>
                <div>
                    <h3>92%</h3>
                    <p>Satisfaction rate comes from our awesome customers.</p>
                </div>
                <div>
                    <h3>4.9/5.0</h3>
                    <p>Average customer ratings we have got all over the internet.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="fourth-main-div">
        <div class="container">
            <div class="fourth-header">
                <h2 style="color: red;">WHY CHOOSE US</h2>
                <h1 style="max-width: 52%;">People choose us because we serve the best for everyone.
                </h1>
            </div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-sm-6 fourth-choose-div">
                    <img src="assets/Icon.png" alt="">
                    <div class="fourth-text-div">
                        <b>Dedicated project manager</b>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 fourth-choose-div" style="justify-content: start;">
                    <img src="assets/Icon (1).png" alt="">
                    <div class="fourth-text-div">
                        <b>Organized tasks</b>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 5%;margin-bottom: 5%;">
                <div class="col-sm-6 fourth-choose-div">
                    <img src="assets/Icon (2).png" alt="">
                    <div class="fourth-text-div">
                        <b>Easy feedback sharing</b>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 fourth-choose-div" style="justify-content: start;">
                    <img src="assets/Icon (3).png" alt="">
                    <div class="fourth-text-div">
                        <b>Never miss deadline</b>
                        <p>With lots of unique blocks, you can easily build a page without coding. Build your next
                            landing page.</p>
                    </div>
                </div>
            </div>
            <div class="VR"></div>
            <div class="row" style="margin-top: 5%;">
                <div class="col-md-6">
                    <h2>Ready to launch your next project?</h2>
                    <p style="font-size: 20px;">With lots of unique blocks, you can easily build a page without coding.
                        Build your
                        next landing page.</p>
                </div>
                <div class="col-md-6 fourth-text">
                    <button class="btn btn-primary btn-class">Get started a project</button>
                </div>
            </div>
        </div>
    </div>
</section>

